body {
    background: url("../images/pm-background.jpg");
  }

  .container {
    position: absolute;
    height: 500px;
    width: 320px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 60px grey;
  }
  .add-text {
    position: absolute;
    height: 5px;
    width: 60%;
    margin: auto;
    top: 25px;
    right: 0;
    left: 0;
    outline: none;
    border: none;
    padding: 20px;
    padding-right: 50px;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
  }
  .add-button {
    position: absolute;
    height: 40px;
    width: 40px;
    margin: auto;
    background: transparent;
    border: none;
    outline: none;
    margin: auto;
    top: 15px;
    right: 35px;
    cursor: pointer;
  }
  .add-button img {
    height: 40px;
    width: 40px;
    position: absolute;
    margin: auto;
    top: 25px;
    right: 0;
    bottom: 0;
    left: 0;  
  }

  img:hover {
    filter:opacity(.6);
  }
  .list {
    position: absolute;
    height: 80%;
    width: 100%;
    margin: auto;
    margin-right: -8px;
    right: 0;
    bottom: 0;
    left: 0;
    padding-right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .list::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
  }
  .task {
    justify-items: center;
    margin: auto;
    position: relative;
    height: fit-content;
    width: 55%;
    right: 0;
    left: 0;
    text-align: left;
    transition: 0.4s;
    padding: 10px;
    background: whitesmoke;
    cursor: pointer;
    z-index: 4;
    border-radius: 2px;
    padding-right: 80px;
    word-wrap: normal;
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
  }
  .task .checkmark {
    position: absolute;
    margin: auto;
    height: 30px;
    top: 0;
    bottom: 0;
    right: 35px;
    float: right;
    z-index: +5;
  }
  .task .archive {
    position: absolute;
    margin: auto;
    height: 25px;
    top: 0;
    bottom: 0;
    right: 10px;
    float: right;
    z-index: +5;
  }
  .task:hover {
    transform: scale(1.1);
  }
  